---
import { getCollection } from 'astro:content';

import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';

import BaseLayout from '@layouts/BaseLayout.astro';

export const RECIPES_PER_PAGE = import.meta.env.RECIPES_PER_PAGE || 10;
export const prerender = true;
export const getStaticPaths = (async ({ paginate }) => {
    const recipes = await getCollection('recipes', ({ data }) => {
        return import.meta.env.PROD ? data.published === true : true;
    });

    recipes.sort(
        (a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime(),
    );

    return paginate(recipes, { pageSize: RECIPES_PER_PAGE });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props;
---

<BaseLayout
    title={`Las Recetas de Pablo | Página ${page.currentPage}`}
    slug={`/pagina/${page.currentPage}`}
>
    <h1>
        Página {page.currentPage} de {page.lastPage}
    </h1>
    <ul>
        {
            page.data.map((recipe) => (
                <li>
                    <article>
                        <>
                            <h1>
                                <a href={`/receta/${recipe.slug}`}>
                                    {recipe.data.title}
                                </a>
                            </h1>
                            <time>{recipe.data.createdAt}</time>
                        </>
                    </article>
                </li>
            ))
        }
    </ul>
    {page.url.prev ? <a href={page.url.prev}>Anterior</a> : null}
    {page.url.next ? <a href={page.url.next}>Siguiente</a> : null}
</BaseLayout>
