---
import { format } from 'date-fns';

interface Props {
    createdAt: Date;
    updatedAt?: Date;
}

const DATETIME_FORMAT = 'yyyy-MM-dd';
const DISPLAY_FORMAT = 'dd.MM.yyyy';

const { createdAt, updatedAt } = Astro.props;
const createdAtDisplay = format(createdAt, DISPLAY_FORMAT);
const createdAtDatetime = format(createdAt, DATETIME_FORMAT);
const updatedAtDisplay = updatedAt ? format(updatedAt, DISPLAY_FORMAT) : null;
const updatedAtDatetime = updatedAt ? format(updatedAt, DATETIME_FORMAT) : null;
---

<section>
    {
        (!updatedAt || updatedAtDisplay === createdAtDisplay) && (
            <span>
                Publicada el{' '}
                <time datetime={createdAtDatetime}>{createdAtDisplay}</time>
            </span>
        )
    }
    {
        updatedAt && updatedAtDisplay !== createdAtDisplay && (
            <span>
                Publicada el{' '}
                <time datetime={createdAtDatetime}>{createdAtDisplay}</time> y
                actualizada el{' '}
                <time datetime={updatedAtDatetime}>{updatedAtDisplay}</time>
            </span>
        )
    }
</section>
