---
import clsx from 'clsx';

import Footer from '@components/Footer.astro';
import TopBar from '@components/TopBar.astro';

interface Props {
    title: string;
    slug: string;
    description?: string;
    extraClasses?: string;
}

const {
    title,
    description = 'Las Recetas de Pablo',
    slug,
    extraClasses,
} = Astro.props;
const canonicalLink = `${import.meta.env.SITE}${slug}`;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <meta name="robots" content="noarchive" />
        <link rel="canonical" href={canonicalLink} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta property="og:image" content="/img/icon/icon512x512.png" />
        <link rel="icon" href="/img/icon/favicon.ico" type="image/x-icon" />
        <slot name="head" />
    </head>
    <body
        class={clsx(
            'bg-theme-grey-100/50 text-theme-grey-900 mt-14 relative md:mt-16 lg:mt-20 flex flex-col justify-between',
            extraClasses,
        )}
    >
        <TopBar />
        <slot />
        <Footer />
    </body>
</html>

<script>
    if ('ontouchstart' in document.documentElement) {
        document.querySelector('body')?.classList.add('touch');
    }
</script>

<style is:global>
    @import '../styles/opensans-font.css';

    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    * {
        @apply box-border outline-none font-opensans transition-none duration-100;
    }

    svg path {
        color: currentColor;
        stroke: currentColor;
    }

    .search-opened {
        height: 100vh;
        overflow-y: hidden;
        padding-right: 15px;
    }

    .info-opened {
        height: 100vh;
        overflow-y: hidden;
        padding-right: 15px;
    }

    @screen md {
        body {
            min-height: calc(100vh - 4rem);
        }
    }

    @screen lg {
        body {
            min-height: calc(100vh - 5rem);
        }

        .info-opened {
            height: auto;
            overflow-y: auto;
            padding-right: auto;
        }
    }
</style>
